/*  CSS RESET  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GLOBAL */
h2 {
  font-size: 2em;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 2em;
}

html {
  scroll-behavior: smooth;
}

/* NAVBAR */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3em;
  background-color: rgba(10, 10, 11, 0.9);
  border-bottom: 1px solid black;
  color: rgb(190, 191, 198);
}

nav ul {
  display: flex;
  gap: 2em;
  list-style: none;
}

.logo {
  font-weight: 900;
  font-size: 1em;
  letter-spacing: 0.14em;
  text-transform: uppercase;
}
/* HERO SECTION */

.hero {
  color: rgba(
    rgb(189, 180, 180),
    rgb(181, 196, 181),
    rgb(180, 180, 185),
    alpha
  );
  border: 10px solid blue;
}

.small-text {
  font-size: 0.7em;
  border: 5px solid red;
}

.hero-span {
  border: 2px solid green;
}

/* HERO BUTTONS */

.hero-btn {
  border: 1px solid yellow;
}

.about-btn {
}

.contact-btn {
}

.hero-img {
}
