/*  GLOBAL  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* NAVBAR */

nav {
}

.logo {
}
/* HERO SECTION */

.hero {
}

.hero-small-text {
}

.hero-span {
}

/* HERO BUTTONS */

.hero-btn {
}

.about-btn {
}

.contact-btn {
}
